.jumbotron {
    padding-bottom: 50px;
    background-color: black;
}
.jumbotron {
    background-color: black;
    border-color: black;
}
.jumbotron {
    background-color: white;
}
.jumbotron p {
    background-color: black;
    max-width: 5%;
    margin: 1em auto 2em;
}
.navbar + .jumbotron {
    background-color: white;
    margin-top: 30px;
}
.jumbotron .lang-logo {
    display: block;
    background: white;
    border-radius: 100%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin: auto;
    border: 2px solid black;
}
.jumbotron .lang-logo img {
    max-width: 100%;
}

.container-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 180px;
}

.body {
    background-color: white;
}

.btn-block {
    background-color: #403f3f !important;
    border-color: #403f3f !important;
}
.btn-block:hover,
.btn-block:active,
.btn-block:visited,
.btn-block:focus {
    background-color: black !important;
    border-color: black !important;
}



