.trash {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 11px;
    border: 2px solid #f7484e;
    border-top: 0;
    border-radius: 0 0 2px 2px;
    background: none;
    box-shadow: none;
    transition: all 0.3s ease;
}

.trash:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -4px;
    height: 2px;
    width: 14px;
    background: #f7484e;
    border-radius: 2px;
    transform: rotate(0);
}

.trash:after {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 6px;
    height: 1px;
    background: #f7484e;
    transform: rotate(0);
}

.trash:hover {
    box-shadow: inset 0 -7px 0 #f7484e;
}

.trash:hover:before,
.trash:hover:after {
    animation: shake 0.2s linear infinite;
}

.trash:active {
    box-shadow: none;
    transform: scale(0.75);
}

.trash:active:before,
.trash:active:after {
    animation: none;
}

.tbl {
    display: table;
    width: 100%;
    height: 100%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

@-moz-keyframes shake {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}

@-webkit-keyframes shake {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}

@-o-keyframes shake {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}

@keyframes shake {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}
