@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background: #f6f5f7;
    color: black;
}

h1 {
    font-size: 64px;
}

.container-table {
    width: 50%;
}

.out {
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0
}

.userok {
    padding: 25px;
    position: absolute;
    top: 5px;
    right: 55px;
}

.btn-block {
    display: inline-block;
    margin-top: 20px;
}

.btn {
    border-radius: 20px;
}

