.jumbotron {
    padding-bottom: 50px;
    background-color: black;
}

.jumbotron {
    background-color: black;
    border-color: black;
}

.jumbotron {
    background-color: white;
}

.jumbotron p {
    background-color: darkgreen;
    max-width: 5%;
    margin: 1em auto 2em;
}

.navbar + .jumbotron {
    background-color: white;
    margin-top: 30px;
}

.jumbotron .lang-logo {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    background: white;
    border-radius: 100%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin: auto;
    border: 2px solid black;
}

.jumbotron .lang-logo img {
    max-width: 100%;
}

.wrapper, .disqus, .disqus .hint {
    box-sizing: border-box;
    clear: both;
    line-height: 28px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    width: 666px
}

.body {
    background-color: white;
}

.btn-block {
    background-color: #403f3f !important;
    border-color: #403f3f !important;
}

.btn-block:hover,
.btn-block:active,
.btn-block:visited,
.btn-block:focus {
    background-color: black !important;
    border-color: black !important;
}

.header .container-media-icon {
    position: relative
}

.header .container-media-icon .logo-media {
    border-radius: 50%;
    height: 80px;
    width: 80px
}

.header .container-media-icon .hire {
    color: darkgreen;
    left: 50%;
    margin-left: 45px;
    position: absolute;
    text-decoration: underline;
    top: 0
}

.header .container-meladia-icon .sub {
    color: darkgreen;
    margin-right: 45px;
    position: absolute;
    right: 50%;
    text-align: right;
    text-decoration: underline;
    top: 50px
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}



