html, body {
    height: 100%;
    background-image: linear-gradient(#ff6161, #ff768c);
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: #0f222d;
    background-size: auto;
}

.main {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px
}

.mainTask {
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px
}

form {
    position: relative;
    color: white;
}

.out {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0
}

.userok {
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 100px;
}

input[type="text"] {
    outline: 0;
    border: none;
    font-size: 0.8em;
}

input[type="password"] {
    outline: 0;
    border: none;
    font-size: 0.8em;
}

button {
    font-size: 1.5em;
    color: #53BDFF;
    background-color: #fff;
    outline: 0;
    border: none;
    width: 85px;
}

.btn-outline-success {
    color: #53BDFF;
    border-color: #53BDFF;
}

form .btn-create-form {
    margin-left: 230px;
    margin-top: 15px;
}

.tasksBoard {
    background-color: #fff;
}

ul {
    list-style: none;
}

li {
    border-bottom: 1px solid #53BDFF;
    padding-bottom: 1px;
    padding-top: 20px;
    font-size: 1em;
    color: #38e4e4;
}

.delete {
    background-color: #ff6161;
    padding: 0 3px 0 3px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 500px) {
    .main {
        margin: auto;
        width: 100%;
    }

    button {
        width: 10%;
    }
}