<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="ToDo list" name="description"/>
    <meta content="Alexander Komegunov" name="author"/>
    <meta
            content="todo, todo list, ToDo list, to-do list, ToDo,
            To-Do"
            name="keywords"
    />
    <link href="https://image.flaticon.com/icons/svg/2928/2928733.svg" rel="shortcut icon"/>
    <link media="all" rel="stylesheet" th:href="@{/all-front/css/create.css}" type="text/css">
    <title>Todo | Error</title>
</head>
<body>
<div>
    <h1>Error</h1>
    <span>
        Looks like there's nothing here.
        Maybe you should go back <a th:href="@{/register}">login or register.</a>
        </span>
    <p style="color: darkred" th:text="${#response.status}"></p>
</div>
</body>
</html>