<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="ToDo list"/>
    <meta name="author" content="Alexander Komegunov"/>
    <meta
            name="keywords"
            content="todo, todo list, ToDo list, to-do list, ToDo,
            To-Do"
    />
    <link href="https://image.flaticon.com/icons/svg/2928/2928733.svg" rel="shortcut icon"/>
    <link media="all" th:href="@{/css/jumbotron.css}" rel="stylesheet" type="text/css">
    <link media="all" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet"/>
    <title>ToDo | Error</title>
</head>
<body>
    <div class="col-12">
        <p>Error</p>
        <p th:text="${#response.status}"></p>
        <p th:text="${exception?.localizedMessage}"></p>
    </div>
</body>
</html>