<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="ToDo list" name="description"/>
    <meta content="Alexander Komegunov" name="author"/>
    <meta
            content="todo, todo list, ToDo list, to-do list, ToDo,
            To-Do"
            name="keywords"
    />
    <link href="https://image.flaticon.com/icons/svg/2928/2928733.svg" rel="shortcut icon"/>
    <link media="all" rel="stylesheet" th:href="@{/css/jumbotron.css}" type="text/css">
    <link media="all" rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <link media="all" rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <title>ToDo | Login</title>
</head>

<body>

<div class="login-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form class="login" method="post" th:action="@{/authenticateTheUser}">
                    <div class="form-group">
                        <input class="form-control" id="username" name="username" placeholder="Enter username"
                               type="text">
                        <small class="form text text-danger" th:if="${param.error != null}">Incorrect username</small>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="password" name="password" placeholder="Password"
                               type="password">
                        <small class="form text text-danger" th:if="${param.error != null}">Incorrect password</small>
                    </div>
                    <button class="btn btn-unique" type="submit">Login</button>
                    <a th:href="@{/register}">Register</a>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>