<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="ToDo list" name="description"/>
    <meta content="Alexander Komegunov" name="author"/>
    <meta
            content="todo, todo list, ToDo list, to-do list, ToDo,
            To-Do"
            name="keywords"
    />
    <link href="https://image.flaticon.com/icons/svg/2928/2928733.svg" rel="shortcut icon"/>
    <link media="all" rel="stylesheet" th:href="@{/all-front/css/sign-in.css}" type="text/css">
    <title>ToDo | Sign in</title>
</head>

<body>

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form th:action="@{/register}" method="post" th:object="${user}">
            <h1>Create Account</h1>
            <input type="text" th:field="*{username}" placeholder="Enter user name">
            <small class="text-danger" th:each="err: ${#fields.errors('username')}" th:text="${err}"></small>
            <input type="password" th:field="*{password}" placeholder="Password">
            <small class="text-danger" th:each="err: ${#fields.errors('password')}" th:text="${err}"></small>
            <input type="password" th:field="*{matchingPassword}" placeholder="Repeat password">
            <small class="text-danger" th:each="err: ${#fields.errors('matchingPassword')}" th:text="${err}"></small>
            <button style="margin-top:15px;">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form class="login" method="post" th:action="@{/authenticateTheUser}">
            <h1>Sign in</h1>
            <input id="username" name="username" placeholder="Enter username" type="text">
            <small class="form text text-danger" th:if="${param.error != null}">Incorrect username</small>
            <input id="password" name="password" placeholder="Password" type="password">
            <small class="form text text-danger" th:if="${param.error != null}">Incorrect password</small>
            <a href="#">Forgot your password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>
                    To keep connected with us please login with your personal info
                </p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script src="../static/all-front/js/sign-in.js" th:src="@{/all-front/js/sign-in.js}" type="text/javascript"></script>
</body>
</html>