<!DOCTYPE html>
<html dir="ltr"
      lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="ToDo list" name="description"/>
    <meta content="Alexander Komegunov" name="author"/>
    <meta
            content="todo, todo list, ToDo list, to-do list, ToDo,
            To-Do"
            name="keywords"
    />
    <link href="https://image.flaticon.com/icons/svg/2928/2928733.svg" rel="shortcut icon"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link media="all" rel="stylesheet" th:href="@{/all-front/css/create.css}" type="text/css">
    <title>Todo | Create</title>
</head>
<body>

<form class="out" method="post" th:action="@{/logout}">
    <button class="btn btn-primary btn-lg" sec:authorize="isAuthenticated()">&#10006;</button>
</form>

<a class="btn btn-primary btn-lg" th:href="@{/todo/all}">&larr;</a>

<span class="userok" th:utext="${userok}">user</span>

<div class="container-create">
    <form method="post" th:action="@{/todo/create}" th:object="${todo}">
        <ul>
            <input th:field="*{id}" type="hidden">
            <li>
                <div>
                    <input id="description" placeholder="Enter description" th:field="*{description}"
                           type="text">
                    <small class="text-danger" th:each="err: ${#fields.errors('description')}" th:text="${err}"></small>
                </div>
            </li>
            <li>
                <div>
                    <input id="target-date" placeholder="Choose a date" th:field="*{targetDate}" type="date">
                    <small class="text-danger" th:each="err: ${#fields.errors('targetDate')}" th:text="${err}"></small>
                </div>
            </li>
            <button style="margin-top: 15px;" class="btn btn-primary btn-lg" type="submit">Submit</button>
        </ul>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>