<!doctype html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="ToDo list" name="description"/>
    <meta content="Alexander Komegunov" name="author"/>
    <meta
            content="todo, todo list, ToDo list, to-do list, ToDo,
            To-Do"
            name="keywords"
    />
    <link href="https://image.flaticon.com/icons/svg/2928/2928733.svg" rel="shortcut icon"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link media="all" rel="stylesheet" th:href="@{/all-front/css/table.css}" type="text/css">
    <title>ToDo | All</title>
</head>
<body>

<form class="out" method="post" th:action="@{/logout}">
    <button class="btn btn-primary btn-lg" sec:authorize="isAuthenticated()">Logout</button>
</form>

<span class="userok" th:utext="${userok}">user</span>

<div class="container">
    <div class="over">
    <table class="responsive-table">
        <thead>
        <tr>
            <th scope="col">Action</th>
            <th scope="col">Description</th>
            <th scope="col">Target date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${todos.empty}">
            <td>Now zero todo</td>
        </tr>
        <tr th:each="todo : ${todos}">
            <td>
                <a class="success" data-toggle="top" th:href="@{/todo/{id}(id=${todo.id})}"
                   title="Edit ToDo"><i class="fas fa-edit"></i></a> &nbsp;&nbsp;&nbsp;
                <a class="delete" data-toggle="top" th:href="@{/todo/delete/{id}(id=${todo.id})}"
                   title="Delete ToDo"><i class="far fa-trash-alt"></i></a>
            </td>
            <td th:text="${todo.description}">desc</td>
            <td th:text="${todo.targetDate}">07.11.1998</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary btn-lg btn-block" th:href="@{/todo/create}">Add Todo</a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>